body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}

.skyblue {
    color: skyblue;
}
.pink {
    color: rgb(255, 192, 203) ;
}

.text_test{
    font_family: sans-serif,
}

google-fonts {
    .josefin-sans-<uniquifier>
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1{
  font-family: sans-serif;
  letter-spacing: 1.2em;
  font-size: 2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

#basic {
    font-weight:  bold;
}